// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.post {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    .post-action {
        display: inline-block;
        float: right;
        margin-left: 1rem;
    }
}
